body{
    background-color: black;
    color: green;
    width: 100%;
    height: 100%;
}

nav{
    height: 10vh;
    background-color: blanchedalmond;
}

#logo{
    height: 10vh;
}


#route{
    display: block;
    height: 10%;
    width: 100%;
    margin: auto;
    max-width: 120px; 
}

p{
text-align: center;
}
h1{
    text-align: center;
}

