body{
    background-color: black;
    color: green;
    width: 100%;
    height: 100%;
}

nav{
    height: 12vh;
    background-color: blanchedalmond;
}

#logo{
    height: 10vh;
}


#route{
    display: block;
    height: 10%;
    width: 100%;
    margin: auto;
    max-width: 120px; 
}

p{
text-align: center;
max-width: 700px;
margin: auto;
}

h1, .urgent{
    text-align: center;
}

a{
    text-decoration-line: none;
    margin-top: 0cm;
}

button:hover{
    background-color: yellow;
}




