#nav {
    height: 7vh;            
    width: 100%;
    background: #222;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

#logo {
    height: 100%;           
    width: auto;             
    max-height: 120px;      
    max-width: 200px;      
    object-fit: contain;
    margin-right: 2vw;
    margin-left: 0px;     
}

button{
    margin-right: 1vw ;
}

#route{
    height: 15vh;
    width: 10vw;
}
