body{
    width: 100%;
    height: 100%;
}

#container{
    background-color: aqua;
    width: 80%;
    text-align: center;
    margin: auto;
    max-height: 500px;
    max-width: 500px;
    border-radius: 1cm;
}

form{
    padding-bottom: 40%;
}

label{
    margin-bottom: 40px;
}

input{
    margin-bottom: 80px;
}

h1{
    margin-bottom: 40px;
}

#submit{
    height: 50px;
    width: 100px;
    font-size: larger;
    margin-right: 8%;
}

